<a href="https://colab.research.google.com/github/kandelprakashchandra/vis/blob/main/PS2_Political_and_Socio_Economic_Impact_of_2009_Global_Recession.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PS_2**

**Prakash Kandel**

**Course: 56:834:653:01 DATA VISUALIZATION**

**Spring 2023**

**Instructor: Adam Okulicz-Kozaryn**

**The Impact of 2009 Recession across Countries around the World Based on their Socio-Economic Statuses**

As we all know that 2009 Global Recession that began in the United States in 2008 had global ramifications in very sphere of life. As per IMF (International Monetary Fund), the recessions are responsible for slowing down economic activities leading to increase in poverty as people are led off. Recessions are expected to change economic outlook and overall sphere of human life. Therefore, in this light, this piece of research will try to answer the puzzles using following research questions:

1. Has there any been any significant change in GDP revenue  after the recession hit? Has it varied across countries cateogorized by income categories and regions?

2. Have people become more or less happy across the countries, regions, and income levels after the ?

3. Have the world governance indicators been affected  by the recession by income categories and regions?

4. Has there any been significant any change in world inequality after the recession hit? Has it varied across countires cateogorized by income categories and regions?

Sources:

<a href="https://www.imf.org/en/Publications/fandd/issues/Series/Back-to-Basics/Recession"> Recession (IMF)</a>

WORLD GOVERNANCE INDICATORS (WGI):

As per The World Bank, governance consists "the traditions and institutions by which authority in a country is exercised.  This includes the process by which governments are selected, monitored and replaced; the capacity of the government to effectively formulate and implement sound policies; and the respect of citizens and the state for the institutions that govern economic and social interactions among them."


The World Bank hase been producing world governance reports annually since 1996 to gauge the governance situations in almost all the countires across the globe. It condsiders six composite indicators related to governance which are as follows:
1. Voice and Accountability,
2. Political Stability and Absence of Violence/Terrorism, 
3. Government Effectiveness,
4. Regulatory Quality,
5. Rule of Law, and 
6. Control of Corruption

The data are based on "the views of a large number of enterprise, citizen and expert survey respondents in industrial and developing countries".

Sources:

<a href="https://info.worldbank.org/governance/wgi/"> Worldwide Governance Indicators </a>

<a href="https://info.worldbank.org/governance/wgi/pdf/WGI.pdf"> The Worldwide Governance Indicators: Methodology and Analytical Issues  </a>

In [ ]:
from statistics import *
import pylab as plt
import pandas as pd
import pandas_datareader as pdr
import datetime
from pandas_datareader import wb
import sys
import os 
import re
import urllib                                                  
import string 
                                                                          
import webbrowser                                                                      
import folium as f                                                                     
from folium.plugins import MarkerCluster, HeatMap                                      

import json

import numpy as np

import openpyxl
from pathlib import Path

#will display all output not just last command
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests

import zipfile # for unzipping Zipped Files
from io import BytesIO #Byte IO function to  read the contents of the zip file into memory

import pandas_datareader.data as web

In [ ]:
# Extraction of World Governance Indicators directly from the Website

url = "https://info.worldbank.org/governance/wgi/Home/downLoadFile?fileName=wgidataset_stata.zip"
r = requests.get(url)
z = zipfile.ZipFile(BytesIO(r.content)) # for unzipping the zipped STATA File

govindic = pd.read_stata(z.open("wgidataset.dta"))

labels = pd.read_stata(z.open("wgidataset.dta"), iterator=True) #reading labels
labels.variable_labels()

govindic.head()

{'code': 'code',
 'countryname': 'countryname',
 'year': '',
 'vae': 'Voice and Accountability, Estimate',
 'vas': 'Voice and Accountability, Standard Error',
 'van': 'Voice and Accountability, Number of Sources',
 'var': 'Voice and Accountability, Percentile Rank (0-100)',
 'val': 'Voice and Accountability, Percentile Rank of Lower Bound of 90% Confidence Inter',
 'vau': 'Voice and Accountability, Percentile Rank of Upper Bound of 90% Confidence Inter',
 'pve': 'Political Stability and Absence of Violence/Terrorism, Estimate',
 'pvs': 'Political Stability and Absence of Violence/Terrorism, Standard Error',
 'pvn': 'Political Stability and Absence of Violence/Terrorism, Number of Sources',
 'pvr': 'Political Stability and Absence of Violence/Terrorism, Percentile Rank (0-100)',
 'pvl': 'Political Stability and Absence of Violence/Terrorism, Percentile Rank of Lower ',
 'pvu': 'Political Stability and Absence of Violence/Terrorism, Percentile Rank of Upper ',
 'gee': 'Government Effectiveness, Estimate',
 'ges': 'Government Effectiveness, Standard Error',
 'gen': 'Government Effectiveness, Number of Sources',
 'ger': 'Government Effectiveness, Percentile Rank (0-100)',
 'gel': 'Government Effectiveness, Percentile Rank of Lower Bound of 90% Confidence Inter',
 'geu': 'Government Effectiveness, Percentile Rank of Upper Bound of 90% Confidence Inter',
 'rqe': 'Regulatory Quality, Estimate',
 'rqs': 'Regulatory Quality, Standard Error',
 'rqn': 'Regulatory Quality, Number of Sources',
 'rqr': 'Regulatory Quality, Percentile Rank (0-100)',
 'rql': 'Regulatory Quality, Percentile Rank of Lower Bound of 90% Confidence Interval (0',
 'rqu': 'Regulatory Quality, Percentile Rank of Upper Bound of 90% Confidence Interval (0',
 'rle': 'Rule of Law, Estimate',
 'rls': 'Rule of Law, Standard Error',
 'rln': 'Rule of Law, Number of Sources',
 'rlr': 'Rule of Law, Percentile Rank (0-100)',
 'rll': 'Rule of Law, Percentile Rank of Lower Bound of 90% Confidence Interval (0-100)',
 'rlu': 'Rule of Law, Percentile Rank of Upper Bound of 90% Confidence Interval (0-100)',
 'cce': 'Control of Corruption, Estimate',
 'ccs': 'Control of Corruption, Standard Error',
 'ccn': 'Control of Corruption, Number of Sources',
 'ccr': 'Control of Corruption, Percentile Rank (0-100)',
 'ccl': 'Control of Corruption, Percentile Rank of Lower Bound of 90% Confidence Interval',
 'ccu': 'Control of Corruption, Percentile Rank of Upper Bound of 90% Confidence Interval'}

,code,countryname,year,vae,vas,van,var,val,vau,pve,...,rln,rlr,rll,rlu,cce,ccs,ccn,ccr,ccl,ccu
0,ABW,Aruba,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
govindic.tail(20) # inspecting data from the data to see if there are no unrequired substances

,code,countryname,year,vae,vas,van,var,val,vau,pve,...,rln,rlr,rll,rlu,cce,ccs,ccn,ccr,ccl,ccu
4902,ZWE,Zimbabwe,2002,-1.363361,0.156958,11.0,10.945273,5.472637,15.920398,-1.515870,...,10.0,3.482587,0.000000,8.457711,-1.156760,0.189122,6.0,7.407407,0.529101,23.809525
4903,ZWE,Zimbabwe,2003,-1.431192,0.148406,12.0,9.950249,3.980099,12.935324,-1.087581,...,11.0,2.487562,0.000000,8.457711,-1.188868,0.185884,8.0,6.878307,1.058201,21.164021
4904,ZWE,Zimbabwe,2004,-1.553577,0.144486,13.0,6.250000,2.403846,10.096154,-1.204704,...,13.0,2.884615,0.000000,6.730769,-1.253563,0.168878,10.0,8.866995,0.985222,17.733990
4905,ZWE,Zimbabwe,2005,-1.674941,0.139619,14.0,5.288462,1.923077,8.173077,-1.267644,...,14.0,0.478469,0.000000,3.349282,-1.314617,0.165643,11.0,7.317073,0.000000,15.609756
4906,ZWE,Zimbabwe,2006,-1.539244,0.110492,17.0,7.211538,6.730769,8.653846,-0.931996,...,17.0,0.956938,0.000000,3.827751,-1.372949,0.149107,14.0,4.390244,0.487805,10.243902
4907,ZWE,Zimbabwe,2007,-1.571521,0.112105,17.0,7.211538,4.326923,8.653846,-1.110345,...,17.0,1.435407,0.000000,1.913876,-1.404758,0.155571,14.0,2.912621,0.000000,10.679611
4908,ZWE,Zimbabwe,2008,-1.549031,0.109917,17.0,7.692307,4.326923,9.615385,-1.212338,...,17.0,0.961538,0.000000,2.884615,-1.348838,0.152072,14.0,3.883495,0.970874,12.621359
4909,ZWE,Zimbabwe,2009,-1.539210,0.111639,17.0,7.582938,3.791469,9.952606,-1.167181,...,17.0,0.947867,0.000000,1.421801,-1.357875,0.154961,14.0,3.349282,0.478469,11.961722
4910,ZWE,Zimbabwe,2010,-1.475182,0.110218,17.0,8.056872,5.687204,12.796208,-1.104014,...,17.0,0.947867,0.000000,2.369668,-1.373287,0.150240,15.0,2.857143,0.952381,12.380953
4911,ZWE,Zimbabwe,2011,-1.463763,0.110784,18.0,7.981221,5.164319,12.676056,-0.945329,...,17.0,0.938967,0.000000,1.877934,-1.425627,0.149206,15.0,2.369668,0.000000,10.900474
4912,ZWE,Zimbabwe,2012,-1.471968,0.107736,19.0,7.511737,3.755868,12.206573,-0.778662,...,18.0,1.877934,0.000000,4.225352,-1.381803,0.135037,16.0,1.895735,0.000000,10.900474
4913,ZWE,Zimbabwe,2013,-1.386220,0.103857,19.0,9.859155,5.164319,14.553990,-0.665950,...,18.0,2.347418,0.469484,6.103286,-1.419667,0.133536,16.0,2.369668,0.000000,9.952606
4914,ZWE,Zimbabwe,2014,-1.256889,0.120352,14.0,13.793103,7.389163,20.197044,-0.713570,...,15.0,3.846154,1.442308,7.211538,-1.404367,0.133745,14.0,4.326923,0.000000,9.615385
4915,ZWE,Zimbabwe,2015,-1.166087,0.121550,15.0,15.763547,9.852217,22.167488,-0.618156,...,16.0,5.769231,2.403846,12.019231,-1.317811,0.132291,15.0,6.250000,1.923077,12.019231
4916,ZWE,Zimbabwe,2016,-1.178460,0.119329,15.0,14.778325,9.852217,22.167488,-0.619938,...,15.0,8.173077,4.807693,11.057693,-1.271258,0.134690,15.0,9.615385,3.846154,12.980769
4917,ZWE,Zimbabwe,2017,-1.195904,0.119706,15.0,14.778325,10.837439,21.674877,-0.708769,...,15.0,7.211538,4.326923,10.576923,-1.281081,0.124858,15.0,9.615385,4.326923,12.500000
4918,ZWE,Zimbabwe,2018,-1.140975,0.123371,15.0,16.908213,12.077294,21.739130,-0.722774,...,15.0,8.173077,5.288462,14.423077,-1.227581,0.125622,15.0,10.096154,6.250000,13.942307
4919,ZWE,Zimbabwe,2019,-1.164705,0.118156,13.0,16.425121,12.077294,21.256039,-0.959749,...,14.0,7.211538,5.288462,13.942307,-1.273280,0.135450,14.0,10.096154,3.846154,13.942307
4920,ZWE,Zimbabwe,2020,-1.113716,0.120647,12.0,17.874395,13.043478,23.188406,-1.072147,...,12.0,7.692307,4.807693,13.942307,-1.289440,0.142061,12.0,9.615385,3.846154,15.384615
4921,ZWE,Zimbabwe,2021,-1.136934,0.121119,12.0,18.357489,12.560387,22.705315,-1.026783,...,12.0,8.653846,5.288462,15.865385,-1.257897,0.154067,11.0,8.653846,4.326923,16.346153

In [ ]:
govindic.columns # inspecting the var names

Index(['code', 'countryname', 'year', 'vae', 'vas', 'van', 'var', 'val', 'vau',
       'pve', 'pvs', 'pvn', 'pvr', 'pvl', 'pvu', 'gee', 'ges', 'gen', 'ger',
       'gel', 'geu', 'rqe', 'rqs', 'rqn', 'rqr', 'rql', 'rqu', 'rle', 'rls',
       'rln', 'rlr', 'rll', 'rlu', 'cce', 'ccs', 'ccn', 'ccr', 'ccl', 'ccu'],
      dtype='object')

In [ ]:
govindic.info() #data types of variables

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4922 entries, 0 to 4921
Data columns (total 39 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         4922 non-null   object
 1   countryname  4922 non-null   object
 2   year         4922 non-null   int16
 3   vae          4768 non-null   float32
 4   vas          4768 non-null   float32
 5   van          4768 non-null   float32
 6   var          4768 non-null   float32
 7   val          4768 non-null   float32
 8   vau          4768 non-null   float32
 9   pve          4753 non-null   float32
 10  pvs          4753 non-null   float32
 11  pvn          4753 non-null   float32
 12  pvr          4753 non-null   float32
 13  pvl          4753 non-null   float32
 14  pvu          4753 non-null   float32
 15  gee          4679 non-null   float32
 16  ges          4679 non-null   float32
 17  gen          4679 non-null   float32
 18  ger          4679 non-null   float32
 19  gel          4679 non-null   float32
 20  geu          4679 non-null   float32
 21  rqe          4681 non-null   float32
 22  rqs          4681 non-null   float32
 23  rqn          4681 non-null   float32
 24  rqr          4681 non-null   float32
 25  rql          4681 non-null   float32
 26  rqu          4681 non-null   float32
 27  rle          4793 non-null   float32
 28  rls          4793 non-null   float32
 29  rln          4793 non-null   float32
 30  rlr          4793 non-null   float32
 31  rll          4793 non-null   float32
 32  rlu          4793 non-null   float32
 33  cce          4703 non-null   float32
 34  ccs          4703 non-null   float32
 35  ccn          4703 non-null   float32
 36  ccr          4703 non-null   float32
 37  ccl          4703 non-null   float32
 38  ccu          4703 non-null   float32
dtypes: float32(36), int16(1), object(2)
memory usage: 817.1+ KB

In [ ]:
govindic.describe() # descriptive statistics of the variables

In [ ]:
columns_to_keep = ['code', 'countryname', 'year', 'vae', 'pve', 'gee', 'rqe', 'rle', 'cce']
govindic = govindic[columns_to_keep]

govindic.head()

In [ ]:
# Meaningful labels to world governance indicators

new_labels = {'countryname': 'country', 'code':'iso3code', 'vae':'voacest', 'pve' : 'polstabest', 'gee' : 'goveffest', 'rqe':'quaregest', 'rle' : 'ruloflawest', 'cce': 'corcontest'}
govindic= govindic.rename(columns=new_labels)

govindic.head()

,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
0,ABW,Aruba,1996,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1998,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2000,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2002,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2003,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# collapsing the variables for means using 'code' and 'country' vars to aggregate
result = govindic.groupby(['iso3code', 'country']).agg({'voacest': 'sum', 'polstabest': 'sum', 'goveffest' : 'sum', 'quaregest': 'sum', 'ruloflawest': 'sum', 'corcontest': 'sum'})

result. head() 
result.tail()

,,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
iso3code,country,,,,,,
ABW,Aruba,21.194332,22.945990,20.711828,19.757771,21.009571,21.177996
ADO,Andorra,30.366352,31.317472,36.623325,29.986450,30.837034,29.194447
AFG,Afghanistan,-29.827566,-57.043350,-34.504730,-34.605350,-39.582935,-32.828239
AGO,Angola,-26.492125,-17.691628,-24.999748,-24.706236,-29.259691,-28.961988
AIA,Anguilla,9.706387,22.977291,22.471291,20.009987,15.383109,21.022911

,,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
iso3code,country,,,,,,
YEM,"Yemen, Rep.",-29.733456,-48.461685,-30.494505,-22.985426,-31.446598,-28.106970
ZAF,South Africa,15.249913,-4.115522,7.675790,9.339360,0.904374,3.699682
ZAR,"Congo, Dem. Rep.",-33.273758,-49.554424,-37.767357,-34.844238,-38.949795,-33.123745
ZMB,Zambia,-6.577363,4.728322,-18.396622,-12.571404,-9.889739,-12.895931
ZWE,Zimbabwe,-29.859629,-21.958883,-26.911554,-39.146339,-34.440357,-28.232248

In [ ]:
# Get the unique values of the 'variable_name' column
unique_values = govindic['country'].unique()

# Print the unique values
print(unique_values)

['Aruba' 'Andorra' 'Afghanistan' 'Angola' 'Anguilla' 'Albania'
 'Netherlands Antilles (former)' 'United Arab Emirates' 'Argentina'
 'Armenia' 'American Samoa' 'Antigua and Barbuda' 'Australia' 'Austria'
 'Azerbaijan' 'Burundi' 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh'
 'Bulgaria' 'Bahrain' 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus'
 'Belize' 'Bermuda' 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam'
 'Bhutan' 'Botswana' 'Central African Republic' 'Canada' 'Switzerland'
 'Chile' 'China' "Côte d'Ivoire" 'Cameroon' 'Congo, Rep.' 'Cook Islands'
 'Colombia' 'Comoros' 'Cape Verde' 'Costa Rica' 'Cuba' 'Cayman Islands'
 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti' 'Dominica' 'Denmark'
 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt, Arab Rep.' 'Eritrea'
 'Spain' 'Estonia' 'Ethiopia' 'Finland' 'Fiji' 'France'
 'Micronesia, Fed. Sts.' 'Gabon' 'United Kingdom' 'Georgia' 'Ghana'
 'Guinea' 'Gambia, The' 'Guinea-Bissau' 'Equatorial Guinea' 'Greece'
 'Grenada' 'Greenland' 'Guatemala' 'French Guiana' 'Guam' 'Guyana'
 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia'
 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq' 'Iceland' 'Israel' 'Italy'
 'Jamaica' 'Jersey, Channel Islands' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya'
 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kosovo' 'Kuwait' 'Lao PDR' 'Lebanon' 'Liberia' 'Libya'
 'St. Lucia' 'Liechtenstein' 'Sri Lanka' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Latvia' 'Macao SAR, China' 'Morocco' 'Monaco' 'Moldova'
 'Madagascar' 'Maldives' 'Mexico' 'Marshall Islands' 'North Macedonia'
 'Mali' 'Malta' 'Myanmar' 'Montenegro' 'Mongolia' 'Mozambique'
 'Mauritania' 'Martinique' 'Mauritius' 'Malawi' 'Malaysia' 'Namibia'
 'Niger' 'Nigeria' 'Nicaragua' 'Niue' 'Netherlands' 'Norway' 'Nepal'
 'Nauru' 'New Zealand' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines'
 'Palau' 'Papua New Guinea' 'Poland' 'Puerto Rico' 'Korea, Dem. Rep.'
 'Portugal' 'Paraguay' 'Qatar' 'Réunion' 'Romania' 'Russian Federation'
 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal' 'Singapore' 'Solomon Islands'
 'Sierra Leone' 'El Salvador' 'San Marino' 'Somalia' 'Serbia'
 'South Sudan' 'São Tomé and Principe' 'Suriname' 'Slovak Republic'
 'Slovenia' 'Sweden' 'Eswatini' 'Seychelles' 'Syrian Arab Republic' 'Chad'
 'Togo' 'Thailand' 'Tajikistan' 'Turkmenistan' 'Timor-Leste' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Tuvalu' 'Taiwan, China'
 'Tanzania' 'Uganda' 'Ukraine' 'Uruguay' 'United States' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'Virgin Islands (U.S.)'
 'Vietnam' 'Vanuatu' 'West Bank and Gaza' 'Samoa' 'Yemen, Rep.'
 'South Africa' 'Congo, Dem. Rep.' 'Zambia' 'Zimbabwe']

COUNTRY CODES FOR MERGER PURPOSE

Source: <a href="https://www.kaggle.com/datasets/juanumusic/countries-iso-codes?resource=download"> Country Codes </a>

In [ ]:
# Importing of country codes from GITHUB
url = "https://raw.githubusercontent.com/kandelprakashchandra/vis/main/country_codes.csv"
countcodes = pd.read_csv(url)

countcodes.head()

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS

In [ ]:
# Drop column 'ISO 3166-2'
countcodes = countcodes.drop(columns=['ISO 3166-2'], axis=1)
countcodes.head()

  English short name lower case Alpha-2 code Alpha-3 code  Numeric code
0                   Afghanistan           AF          AFG             4
1                 Åland Islands           AX          ALA           248
2                       Albania           AL          ALB             8
3                       Algeria           DZ          DZA            12
4                American Samoa           AS          ASM            16

In [ ]:
#Rename the country var for making merger smooth
countcodes = countcodes.rename(columns={'English short name lower case': 'country', 'Alpha-2 code': 'iso2code', 'Alpha-3 code': 'iso3code','Numeric code' : 'numcode' }) #ren var

countcodes.dtypes

countcodes.head()

country     object
iso2code    object
iso3code    object
numcode      int64
dtype: object

          country iso2code iso3code  numcode
0     Afghanistan       AF      AFG        4
1   Åland Islands       AX      ALA      248
2         Albania       AL      ALB        8
3         Algeria       DZ      DZA       12
4  American Samoa       AS      ASM       16

In [ ]:
# Get the unique values of the 'variable_name' column
unique_values = countcodes['country'].unique()

# Print the unique values
print(unique_values)

['Afghanistan' 'Åland Islands' 'Albania' 'Algeria' 'American Samoa'
 'Andorra' 'Angola' 'Anguilla' 'Antarctica' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana'
 'Bouvet Island' 'Brazil' 'British Indian Ocean Territory'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Cocos (Keeling) Islands' 'Colombia' 'Comoros' 'Congo'
 'Congo, the Democratic Republic of the' 'Cook Islands' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Falkland Islands (Malvinas)' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'French Southern Territories' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland'
 'Grenada' 'Guadeloupe' 'Guam' 'Guatemala' 'Guernsey' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Heard Island and McDonald Islands'
 'Holy See (Vatican City State)' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' "Korea, Democratic People's Republic of"
 'Korea, Republic of (South Korea)' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao'
 'Macedonia, the former Yugoslav Republic of' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico'
 'Micronesia, Federated States of' 'Moldova, Republic of' 'Monaco'
 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'Netherlands Antilles'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'Norfolk Island' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Palestinian Territory, Occupied' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Pitcairn' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthélemy' 'Saint Helena, Ascension and Tristan da Cunha'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa'
 'South Georgia and the South Sandwich Islands' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Svalbard and Jan Mayen' 'Swaziland' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Taiwan' 'Tajikistan'
 'Tanzania, United Republic of' 'Thailand' 'Timor-Leste' 'Togo' 'Tokelau'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States Of America'
 'United States Minor Outlying Islands' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Virgin Islands, British' 'Virgin Islands, U.S.'
 'Wallis and Futuna' 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe']

**Merging WORLD GOVERNANCE INDICATORS DATASET with COUNTRY CODE DATASET**

In [ ]:
codegovmerged =pd.merge(countcodes, govindic, how='inner',  on=["iso3code"], indicator=True) # merging on a common id variable 'code' and with the dataframe for country codes on the left
# Here the "inner" parameter was used to get numeric codes for countries in the dataset with the World Governace Indicators
codegovmerged.head(10)
codegovmerged.tail(10)

,country_x,iso2code,iso3code,numcode,country_y,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
0,Afghanistan,AF,AFG,4,Afghanistan,1996,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705,both
1,Afghanistan,AF,AFG,4,Afghanistan,1998,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012,both
2,Afghanistan,AF,AFG,4,Afghanistan,2000,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724,both
3,Afghanistan,AF,AFG,4,Afghanistan,2002,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137,both
4,Afghanistan,AF,AFG,4,Afghanistan,2003,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180,both
5,Afghanistan,AF,AFG,4,Afghanistan,2004,-1.203034,-2.295682,-0.909889,-1.511549,-1.693925,-1.350647,both
6,Afghanistan,AF,AFG,4,Afghanistan,2005,-1.125430,-2.067510,-1.217238,-1.643440,-1.662966,-1.447252,both
7,Afghanistan,AF,AFG,4,Afghanistan,2006,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292,both
8,Afghanistan,AF,AFG,4,Afghanistan,2007,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251,both
9,Afghanistan,AF,AFG,4,Afghanistan,2008,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096,both

,country_x,iso2code,iso3code,numcode,country_y,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
4751,Zimbabwe,ZW,ZWE,716,Zimbabwe,2012,-1.471968,-0.778662,-1.375217,-1.871891,-1.630184,-1.381803,both
4752,Zimbabwe,ZW,ZWE,716,Zimbabwe,2013,-1.386220,-0.665950,-1.309026,-1.854899,-1.587261,-1.419667,both
4753,Zimbabwe,ZW,ZWE,716,Zimbabwe,2014,-1.256889,-0.713570,-1.279024,-1.892658,-1.441469,-1.404367,both
4754,Zimbabwe,ZW,ZWE,716,Zimbabwe,2015,-1.166087,-0.618156,-1.202166,-1.631751,-1.324131,-1.317811,both
4755,Zimbabwe,ZW,ZWE,716,Zimbabwe,2016,-1.178460,-0.619938,-1.209890,-1.684896,-1.381370,-1.271258,both
4756,Zimbabwe,ZW,ZWE,716,Zimbabwe,2017,-1.195904,-0.708769,-1.238663,-1.564137,-1.385256,-1.281081,both
4757,Zimbabwe,ZW,ZWE,716,Zimbabwe,2018,-1.140975,-0.722774,-1.261774,-1.509489,-1.278995,-1.227581,both
4758,Zimbabwe,ZW,ZWE,716,Zimbabwe,2019,-1.164705,-0.959749,-1.267288,-1.468613,-1.292071,-1.273280,both
4759,Zimbabwe,ZW,ZWE,716,Zimbabwe,2020,-1.113716,-1.072147,-1.299779,-1.416232,-1.307897,-1.289440,both
4760,Zimbabwe,ZW,ZWE,716,Zimbabwe,2021,-1.136934,-1.026783,-1.242930,-1.372497,-1.260689,-1.257897,both

In [ ]:
# Show rows with `right_only` values
#right_only = codegovmerged[codegovmerged['_merge'] == 'right_only']
#print(right_only)

In [ ]:
#left_only = codegovmerged[codegovmerged['_merge'] == 'left_only']
#print(left_only)

In [ ]:
#codegovmerged.loc[:, "_merge"]

In [ ]:
# Reordering the variables
codegovmerged = codegovmerged[['numcode', 'iso2code', 'iso3code', 'country_y', 'year', 'voacest',	'polstabest',	'goveffest',	'quaregest',	'ruloflawest',	'corcontest']]

# rename 'country' variable
codegovmerged = codegovmerged.rename(columns={'country_y':'country'})

codegovmerged.head()

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
0,4,AF,AFG,Afghanistan,1996,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705
1,4,AF,AFG,Afghanistan,1998,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012
2,4,AF,AFG,Afghanistan,2000,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724
3,4,AF,AFG,Afghanistan,2002,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137
4,4,AF,AFG,Afghanistan,2003,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180

In [ ]:
# Inspect the merged dataframe
#print("\nMerged codegovmerged shape:", codegovmerged.shape)
#print("Merged codegovmerged columns:", codegovmerged.columns)

In [ ]:
# Check for missing values
#print("\nMissing values in merged df:")
#print(codegovmerged.isna().sum())

In [ ]:
#unique_values = codegovmerged['country'].unique()
# Print the unique values
#print(unique_values)

TOTAL REVENUE IN PERCENT OF GDP

Source:

<a href="https://data.imf.org/?sk=77413f1d-1525-450a-a23a-47aeed40fe78"> IMF World Revenue Longitudinal Data(WoRLD) </a>

Note: This dataset is related to economic variable.

In [ ]:
urllib.request.urlretrieve("https://drive.google.com/uc?id=1yucHgUR5TXedba87tMBn0eJw993-xDrb", "worldrevimf.dta")

revenueimf = pd.read_stata('worldrevimf.dta')

revenueimf.head()

('worldrevimf.dta', <http.client.HTTPMessage at 0x7fa31ab28d00>)

,ccode,year,var,value,value2,latestyear
0,512.0,1990,Corporate Income Tax Revenue as a % of GDP,NaN,,NaN
1,512.0,1991,Corporate Income Tax Revenue as a % of GDP,NaN,,NaN
2,512.0,1992,Corporate Income Tax Revenue as a % of GDP,NaN,,NaN
3,512.0,1993,Corporate Income Tax Revenue as a % of GDP,NaN,,NaN
4,512.0,1994,Corporate Income Tax Revenue as a % of GDP,NaN,,NaN

In [ ]:
revenueimf = revenueimf[revenueimf ['var'].isin(['Total Revenue as a % of GDP'])] # Here, I only kept the variable value of interest which is "Total Revenue as a % of GDP"


revenueimf = revenueimf.drop(['value2', 'latestyear'], axis=1) # dropped variables that do not have data or are not required

revenueimf. head()

       ccode  year                          var  value
69190  512.0  1990  Total Revenue as a % of GDP    NaN
69191  512.0  1991  Total Revenue as a % of GDP    NaN
69192  512.0  1992  Total Revenue as a % of GDP    NaN
69193  512.0  1993  Total Revenue as a % of GDP    NaN
69194  512.0  1994  Total Revenue as a % of GDP    NaN

In [ ]:
revenueimf = revenueimf.rename(columns={'ccode':'weocode','value':'totrevgdp'}) # renaming a variable that has values for total revenue as a percentage of GDP

revenueimf.head()
revenueimf.dtypes

       weocode  year                          var  totrevgdp
69190    512.0  1990  Total Revenue as a % of GDP        NaN
69191    512.0  1991  Total Revenue as a % of GDP        NaN
69192    512.0  1992  Total Revenue as a % of GDP        NaN
69193    512.0  1993  Total Revenue as a % of GDP        NaN
69194    512.0  1994  Total Revenue as a % of GDP        NaN

weocode      float64
year           int16
var           object
totrevgdp    float64
dtype: object

In [ ]:
# Get the unique values of the variable 'year' to see the range and to limit the number of years
unique_values =revenueimf['year'].unique()

# Print the unique values
unique_values

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype=int16)

In [ ]:
revenueimf = revenueimf[revenueimf['year']>1999] #selected years from 2000 onwards

revenueimf = revenueimf.drop(['var'], axis=1) # dropped the variable after taking it as reference to rename var representing the total revenue as a percentage of GDP

revenueimf.head()
revenueimf.dtypes

       weocode  year  totrevgdp
69200    512.0  2000        NaN
69201    512.0  2001        NaN
69202    512.0  2002   6.844626
69203    512.0  2003   9.825829
69204    512.0  2004  12.675875

weocode      float64
year           int16
totrevgdp    float64
dtype: object

In [ ]:
# Get the unique values of the 'wecode' column
unique_values = revenueimf['weocode'].unique()

# Print the unique values
print(unique_values)

[512. 914. 612. 614. 312. 311. 213. 911. 314. 193. 122. 912. 313. 419.
 513. 316. 913. 124. 339. 638. 514. 218. 963. 616. 223. 516. 918. 748.
 618. 624. 522. 622. 156. 626. 628. 228. 924. 233. 632. 636. 634. 238.
 960. 423. 935. 662. 128. 611. 321. 243. 248. 469. 253. 642. 643. 939.
 734. 644.  nan 819. 172. 132. 646. 648. 915. 134. 652. 174. 328. 258.
 656. 654. 336. 263. 268. 532. 944. 176. 534. 536. 429. 433. 178. 436.
 136. 343. 158. 439. 916. 664. 826. 542. 967. 443. 917. 544. 941. 446.
 666. 668. 672. 946. 137. 546. 674. 676. 548. 556. 678. 181. 867. 682.
 684. 273. 868. 921. 948. 943. 351. 686. 688. 518. 728. 836. 558. 138.
 196. 278. 692. 694. 962. 142. 449. 564. 565. 283. 853. 288. 293. 566.
 964. 182. 453. 968. 922. 714. 862. 135. 456. 722. 942. 718. 724. 576.
 936. 961. 813. 726. 199. 733. 184. 524. 361. 362. 364. 732. 366. 144.
 146. 463. 716. 528. 923. 738. 578. 537. 742. 866. 369. 744. 186. 925.
 869. 746. 926. 466. 112. 111. 298. 927. 846. 299. 582. 487. 474. 754.
 698.]

In [ ]:
non_numeric_rows = revenueimf[revenueimf['weocode'].isnull()] # I used this code to examine the country code with the value 'NaN", and it appears that the code representing a certian county is missing.

non_numeric_rows.head(25) # The country code "NaN" does not represent any country; therefore, it will be dropped after inspection.

       weocode  year  totrevgdp
71050      NaN  2000  41.822678
71051      NaN  2001  41.250065
71052      NaN  2002  41.264835
71053      NaN  2003  41.154495
71054      NaN  2004  41.134060
71055      NaN  2005  41.727787
71056      NaN  2006  41.824867
71057      NaN  2007  41.984627
71058      NaN  2008  41.669476
71059      NaN  2009  41.550579
71060      NaN  2010  41.452789
71061      NaN  2011  41.759228
71062      NaN  2012  42.524769
71063      NaN  2013  43.015823
71064      NaN  2014  43.098541
71065      NaN  2015  43.005527
71066      NaN  2016  42.423862
71067      NaN  2017  42.156830
71068      NaN  2018  42.601608
71069      NaN  2019  42.588982
71070      NaN  2020  42.511539
71071      NaN  2021        NaN

In [ ]:
revenueimf = revenueimf[revenueimf.weocode.notnull()] # The country code which was missing was dropped.

revenueimf['weocode'].isna().sum() # to check if there was any missing value remanining for the country code

0

In [ ]:
revenueimf['weocode'] = revenueimf['weocode'].astype(int) # The country codes had to be converted to integer form as they are not identified by decimals.

revenueimf.head()

       weocode  year  totrevgdp
69200      512  2000        NaN
69201      512  2001        NaN
69202      512  2002   6.844626
69203      512  2003   9.825829
69204      512  2004  12.675875

In [ ]:
# collapsing the variables for means using 'code' and 'total revenue' vars to aggregate
collapseimf= revenueimf.groupby(['weocode']).agg({'totrevgdp': 'sum'})

collapseimf.tail()

          totrevgdp
weocode
962      645.829033
963      938.589279
964      834.374149
967      480.206612
968      643.321339

MERGE OF COUNTRY CODES IN IMF TOTAL REVENUE DATA WITH DATASET WITH ISO CODES FOR FURTHER COMPREHENSIVE MERGING PURPOSE

Source for Both WEO and WITS Country Codes: <a href="https://www.imf.org/external/pubs/ft/weo/2019/02/weodata/WEOOct2019all.xls"> IMF Country Codes</a>

Note: The IMF revenue dataset has WEO (World Economic Outlook) dataset but no WITS (Wellsite Information Transfer Specification) codes, that is, ISO codes. Therefore, dataset that has both WEO and WITS codes has been used for crosswalk.

In [ ]:
urllib.request.urlretrieve("https://drive.google.com/uc?id=1BGwsefB4KZlMnrrIzjKJ3iAxjHJOBdPx&export=download", "imfcountrycodes.xlsx")

imfcountcodes = pd.read_excel('imfcountrycodes.xlsx')

imfcountcodes.head()

imfcountcodes.shape

('imfcountrycodes.xlsx', <http.client.HTTPMessage at 0x7fa31ab287c0>)

   WEO Country Code  ISO      Country
0               512  AFG  Afghanistan
1               512  AFG  Afghanistan
2               512  AFG  Afghanistan
3               512  AFG  Afghanistan
4               512  AFG  Afghanistan

(8730, 3)

In [ ]:
# Renaming the variabels to make them consistent throughout all datasets

imfcountcodes.rename(columns={'WEO Country Code':'weocode','ISO':'iso3code', 'Country' : 'country' }, inplace=True)

imfcountcodes.head()

   weocode iso3code      country
0      512      AFG  Afghanistan
1      512      AFG  Afghanistan
2      512      AFG  Afghanistan
3      512      AFG  Afghanistan
4      512      AFG  Afghanistan

In [ ]:
# collapsing the variables for means using 'code' and 'country' vars to aggregate
imfcountcodes = imfcountcodes.groupby(['iso3code', 'country']).agg({'weocode': 'mean'})

imfcountcodes. head() 
imfcountcodes.tail()

imfcountcodes.shape # There are 194 countries in this dataset.

                               weocode
iso3code country
ABW      Aruba                   314.0
AFG      Afghanistan             512.0
AGO      Angola                  614.0
ALB      Albania                 914.0
ARE      United Arab Emirates    466.0

                       weocode
iso3code country
WSM      Samoa           862.0
YEM      Yemen           474.0
ZAF      South Africa    199.0
ZMB      Zambia          754.0
ZWE      Zimbabwe        698.0

(194, 1)

In [ ]:
imfcountcodes['weocode'] = imfcountcodes['weocode'].astype(int) # The 	WEO Country Code codes had to be converted to integer form as they are not identified by decimals.

imfcountcodes.head()

                               weocode
iso3code country
ABW      Aruba                     314
AFG      Afghanistan               512
AGO      Angola                    614
ALB      Albania                   914
ARE      United Arab Emirates      466

MERGING BETWEEN 'WORLD GOVERNANCE DATASET' AND 'IMF COUNTRY CODE' DATASETS

In [ ]:
mergedimf =pd.merge(codegovmerged, imfcountcodes, how='outer',  on=['iso3code'], indicator=True) # merged the "World Governance Indicator" dataset with  'IMF WEO Code" dataset

mergedimf.head()

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,weocode,_merge
0,4.0,AF,AFG,Afghanistan,1996.0,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705,512.0,both
1,4.0,AF,AFG,Afghanistan,1998.0,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012,512.0,both
2,4.0,AF,AFG,Afghanistan,2000.0,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724,512.0,both
3,4.0,AF,AFG,Afghanistan,2002.0,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137,512.0,both
4,4.0,AF,AFG,Afghanistan,2003.0,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180,512.0,both

In [ ]:
left_only = mergedimf[mergedimf['_merge'] == 'left_only'] #checking merge on left only
left_only.head()

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,weocode,_merge
69,16.0,AS,ASM,American Samoa,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
70,16.0,AS,ASM,American Samoa,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
71,16.0,AS,ASM,American Samoa,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
72,16.0,AS,ASM,American Samoa,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,16.0,AS,ASM,American Samoa,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [ ]:
right_only = mergedimf[mergedimf['_merge'] == 'right_only'] #checking merge on right only
right_only.head()

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,weocode,_merge
4761,NaN,NaN,COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,636.0,right_only
4762,NaN,NaN,ROU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0,right_only
4763,NaN,NaN,SSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,733.0,right_only
4764,NaN,NaN,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,right_only
4765,NaN,NaN,UVK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967.0,right_only

In [ ]:
mergedimf = mergedimf.drop(columns=["_merge"], axis=1) # droppping '_merge' variabele before making another merge

mergedimf.head()

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,weocode
0,4.0,AF,AFG,Afghanistan,1996.0,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705,512.0
1,4.0,AF,AFG,Afghanistan,1998.0,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012,512.0
2,4.0,AF,AFG,Afghanistan,2000.0,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724,512.0
3,4.0,AF,AFG,Afghanistan,2002.0,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137,512.0
4,4.0,AF,AFG,Afghanistan,2003.0,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180,512.0

MERGING OF IMF REVENUE DATA WITH WORLD GOVERNANCE INDICATORS DATA

In [ ]:
worldgivrev =pd.merge(mergedimf, revenueimf, how='outer',  on=['year', 'weocode'], indicator=True)

worldgivrev.head(10)

worldgivrev.shape

,numcode,iso2code,iso3code,country,year,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,weocode,totrevgdp,_merge
0,4.0,AF,AFG,Afghanistan,1996.0,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705,512.0,NaN,left_only
1,4.0,AF,AFG,Afghanistan,1998.0,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012,512.0,NaN,left_only
2,4.0,AF,AFG,Afghanistan,2000.0,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724,512.0,NaN,both
3,4.0,AF,AFG,Afghanistan,2002.0,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137,512.0,6.844626,both
4,4.0,AF,AFG,Afghanistan,2003.0,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180,512.0,9.825829,both
5,4.0,AF,AFG,Afghanistan,2004.0,-1.203034,-2.295682,-0.909889,-1.511549,-1.693925,-1.350647,512.0,12.675875,both
6,4.0,AF,AFG,Afghanistan,2005.0,-1.125430,-2.067510,-1.217238,-1.643440,-1.662966,-1.447252,512.0,14.733477,both
7,4.0,AF,AFG,Afghanistan,2006.0,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292,512.0,18.945911,both
8,4.0,AF,AFG,Afghanistan,2007.0,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251,512.0,18.985790,both
9,4.0,AF,AFG,Afghanistan,2008.0,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096,512.0,17.035778,both

(5130, 14)

In [ ]:
# Reordering the variables
worldgivrev = worldgivrev[['weocode', 'numcode', 'iso2code', 'iso3code', 'country', 'year', 'totrevgdp', 'voacest',	'polstabest',	'goveffest',	'quaregest',	'ruloflawest',	'corcontest']]

worldgivrev.head(10)

,weocode,numcode,iso2code,iso3code,country,year,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
0,512.0,4.0,AF,AFG,Afghanistan,1996.0,NaN,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705
1,512.0,4.0,AF,AFG,Afghanistan,1998.0,NaN,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012
2,512.0,4.0,AF,AFG,Afghanistan,2000.0,NaN,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724
3,512.0,4.0,AF,AFG,Afghanistan,2002.0,6.844626,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137
4,512.0,4.0,AF,AFG,Afghanistan,2003.0,9.825829,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180
5,512.0,4.0,AF,AFG,Afghanistan,2004.0,12.675875,-1.203034,-2.295682,-0.909889,-1.511549,-1.693925,-1.350647
6,512.0,4.0,AF,AFG,Afghanistan,2005.0,14.733477,-1.125430,-2.067510,-1.217238,-1.643440,-1.662966,-1.447252
7,512.0,4.0,AF,AFG,Afghanistan,2006.0,18.945911,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292
8,512.0,4.0,AF,AFG,Afghanistan,2007.0,18.985790,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251
9,512.0,4.0,AF,AFG,Afghanistan,2008.0,17.035778,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096

In [ ]:
# Get the unique values of the 'weocode' column
unique_values = worldgivrev['weocode'].unique()

# Print the unique values
print(unique_values)

# specifying the column to check for non-finite values
column = "weocode"

# dropping rows containing non-finite values in the specified column
worldgivrev = worldgivrev.dropna(subset=[column])

# again inspecting the unique values of the 'weocode' column
unique_values = worldgivrev['weocode'].unique()

# Printing the unique values
unique_values

[512. 914. 612.  nan 614. 311. 213. 911. 314. 193. 122. 912. 313. 419.
 513. 316. 913. 124. 339. 638. 514. 218. 963. 616. 223. 516. 918. 748.
 618. 522. 622. 156. 624. 626. 628. 228. 924. 233. 632. 634. 238. 662.
 960. 423. 935. 128. 611. 321. 243. 248. 469. 253. 642. 643. 939. 644.
 819. 172. 132. 646. 648. 915. 134. 652. 174. 328. 258. 656. 654. 336.
 263. 268. 532. 944. 176. 534. 536. 429. 433. 178. 436. 136. 343. 158.
 439. 916. 664. 826. 542. 443. 917. 544. 941. 446. 666. 668. 672. 946.
 137. 546. 962. 674. 676. 548. 556. 678. 181. 867. 682. 684. 273. 868.
 921. 948. 943. 686. 688. 518. 728. 836. 558. 138. 196. 278. 692. 694.
 142. 449. 564. 565. 283. 853. 288. 293. 566. 964. 182. 359. 453. 922.
 714. 361. 362. 364. 862. 135. 716. 456. 722. 942. 718. 724. 576. 936.
 961. 813. 726. 199. 184. 524. 732. 366. 734. 144. 146. 463. 528. 923.
 738. 578. 742. 866. 369. 744. 186. 925. 869. 746. 926. 466. 112. 111.
 298. 927. 846. 299. 582. 474. 754. 698. 636. 968. 733. 537. 967. 312.
 351. 487.]

array([512., 914., 612., 614., 311., 213., 911., 314., 193., 122., 912.,
       313., 419., 513., 316., 913., 124., 339., 638., 514., 218., 963.,
       616., 223., 516., 918., 748., 618., 522., 622., 156., 624., 626.,
       628., 228., 924., 233., 632., 634., 238., 662., 960., 423., 935.,
       128., 611., 321., 243., 248., 469., 253., 642., 643., 939., 644.,
       819., 172., 132., 646., 648., 915., 134., 652., 174., 328., 258.,
       656., 654., 336., 263., 268., 532., 944., 176., 534., 536., 429.,
       433., 178., 436., 136., 343., 158., 439., 916., 664., 826., 542.,
       443., 917., 544., 941., 446., 666., 668., 672., 946., 137., 546.,
       962., 674., 676., 548., 556., 678., 181., 867., 682., 684., 273.,
       868., 921., 948., 943., 686., 688., 518., 728., 836., 558., 138.,
       196., 278., 692., 694., 142., 449., 564., 565., 283., 853., 288.,
       293., 566., 964., 182., 359., 453., 922., 714., 361., 362., 364.,
       862., 135., 716., 456., 722., 942., 718., 724., 576., 936., 961.,
       813., 726., 199., 184., 524., 732., 366., 734., 144., 146., 463.,
       528., 923., 738., 578., 742., 866., 369., 744., 186., 925., 869.,
       746., 926., 466., 112., 111., 298., 927., 846., 299., 582., 474.,
       754., 698., 636., 968., 733., 537., 967., 312., 351., 487.])

In [ ]:
# Getting the unique values of the 'year' column
unique_values = worldgivrev['year'].unique()

# Printing the unique values
unique_values

# specifying the column to check for non-finite values
column = "year"

# dropping rows containing non-finite values in the specified column
worldgivrev = worldgivrev.dropna(subset=[column])

# agian, getting the unique values of the 'year' column after dropping the non-finite values
unique_values = worldgivrev['year'].unique()

# Print the unique values
unique_values

array([1996., 1998., 2000., 2002., 2003., 2004., 2005., 2006., 2007.,
       2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016.,
       2017., 2018., 2019., 2020., 2021.,   nan, 2001.])

array([1996., 1998., 2000., 2002., 2003., 2004., 2005., 2006., 2007.,
       2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016.,
       2017., 2018., 2019., 2020., 2021., 2001.])

In [ ]:
# specifying the column to check for non-finite values
#column = "numcode"

# dropping rows containing non-finite values in the specified column
#worldgivrev = worldgivrev.dropna(subset=[column])

# Getting the unique values of the 'variable_name' column
#unique_values = worldgivrev['numcode'].unique()

# Print the unique values
#unique_values

In [ ]:
# specifying the column names of the combined dataset to convert to integer
columns = ['weocode', 'year']

# converting the specified columns of the combined dataset to integer 
worldgivrev[columns] = worldgivrev[columns].astype(int)


worldgivrev.head() #

,weocode,numcode,iso2code,iso3code,country,year,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest
0,512,4.0,AF,AFG,Afghanistan,1996,NaN,-1.908540,-2.417310,-2.175167,-2.090330,-1.788075,-1.291705
1,512,4.0,AF,AFG,Afghanistan,1998,NaN,-2.039301,-2.427355,-2.102292,-2.062872,-1.734887,-1.176012
2,512,4.0,AF,AFG,Afghanistan,2000,NaN,-2.031417,-2.438969,-2.173946,-2.080253,-1.780661,-1.271724
3,512,4.0,AF,AFG,Afghanistan,2002,6.844626,-1.433421,-2.035034,-1.587687,-1.811546,-1.673473,-1.251137
4,512,4.0,AF,AFG,Afghanistan,2003,9.825829,-1.177571,-2.198372,-1.127420,-1.463108,-1.558294,-1.344180

In [ ]:
unique_values = worldgivrev['year'].unique()

# Print the unique values
unique_values

array([1996, 1998, 2000, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2001])

**HAPPINESS AND LIFE SATISFACTION**

"The underlying source of the happiness scores  is the Gallup World Poll—a set of nationally representative surveys undertaken in more than 160 countries in over 140 languages. The main life evaluation question asked in the poll is: “Please imagine a ladder, with steps numbered from 0 at the bottom to 10 at the top. The top of the ladder represents the best possible life for you and the bottom of the ladder represents the worst possible life for you. On which step of the ladder would you say you personally feel you stand at this time?” (Also known as the “Cantril Ladder”.) As with the steps of the ladder, values in the map range from 0 to 10."

Source : <a href="https://ourworldindata.org/happiness-and-life-satisfaction"> Our World in Data</a>

In [ ]:
urllib.request.urlretrieve("https://drive.google.com/uc?id=17YQvGUWoFKEhJPJxR1Uac4wahZVkFdXK&export=download", "worldhappiness.csv") # World Happiness Data

happy = pd.read_csv('worldhappiness.csv')
happy.head()

happy.shape

('worldhappiness.csv', <http.client.HTTPMessage at 0x7fa31c34a760>)

,Entity,Code,Year,Life satisfaction in Cantril Ladder (World Happiness Report 2022)
0,Afghanistan,AFG,2006,3.723590
1,Afghanistan,AFG,2007,4.401778
2,Afghanistan,AFG,2008,4.758381
3,Afghanistan,AFG,2009,3.831719
4,Afghanistan,AFG,2010,3.782938

(2244, 4)

In [ ]:
# Meaningful labels to data variables

new_labels = {'Entity': 'country', 'Code':'iso3code', 'Year': 'year', 'Life satisfaction in Cantril Ladder (World Happiness Report 2022)':'happy_score'}
happy= happy.rename(columns=new_labels)

happy.head()

       country iso3code  year  happy_score
0  Afghanistan      AFG  2006     3.723590
1  Afghanistan      AFG  2007     4.401778
2  Afghanistan      AFG  2008     4.758381
3  Afghanistan      AFG  2009     3.831719
4  Afghanistan      AFG  2010     3.782938

**MERGE BETWEEN HAPPINESS DATASET AND MERGED DATASET THAT CONTAINS 'WORLD GOVERNANCE' AND 'REVENUE AS PERCENTAGE OF GDP'**

In [ ]:
mergedhappy = pd.merge(happy, worldgivrev, how='outer',  on=['country', 'year', 'iso3code'], indicator=True)

mergedhappy.head()

,country,iso3code,year,happy_score,weocode,numcode,iso2code,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
0,Afghanistan,AFG,2006,3.723590,512.0,4.0,AF,18.945911,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292,both
1,Afghanistan,AFG,2007,4.401778,512.0,4.0,AF,18.985790,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251,both
2,Afghanistan,AFG,2008,4.758381,512.0,4.0,AF,17.035778,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096,both
3,Afghanistan,AFG,2009,3.831719,512.0,4.0,AF,19.390545,-1.375495,-2.711421,-1.511002,-1.664508,-1.876119,-1.552299,both
4,Afghanistan,AFG,2010,3.782938,512.0,4.0,AF,21.722488,-1.404467,-2.579152,-1.480806,-1.516528,-1.870058,-1.645391,both

In [ ]:
unique_values = mergedhappy['year'].unique() # inspecting the number of years
# Print the unique values
unique_values

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2019, 2020, 2005, 2018, 2004, 2003, 1996, 1998, 2000, 2002,
       2021, 2001])

In [ ]:
mergedhappy.sort_values(by=['country', 'year'], ascending=[False, True]) # exmining the merge status
mergedhappy.head()

,country,iso3code,year,happy_score,weocode,numcode,iso2code,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
4647,Zimbabwe,ZWE,1996,NaN,698.0,716.0,ZW,NaN,-0.611550,-0.466122,-0.318771,-0.765806,-0.814238,-0.278847,right_only
4648,Zimbabwe,ZWE,1998,NaN,698.0,716.0,ZW,NaN,-0.789812,-0.740443,-0.424851,-0.842345,-0.774310,-0.504802,right_only
4649,Zimbabwe,ZWE,2000,NaN,698.0,716.0,ZW,NaN,-1.085388,-1.318818,-0.757243,-1.391089,-1.381908,-1.127275,right_only
4650,Zimbabwe,ZWE,2002,NaN,698.0,716.0,ZW,NaN,-1.363361,-1.515870,-0.839923,-1.798834,-1.596318,-1.156760,right_only
4651,Zimbabwe,ZWE,2003,NaN,698.0,716.0,ZW,NaN,-1.431192,-1.087581,-0.926836,-1.855192,-1.607022,-1.188868,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5012,NaN,NaN,2021,NaN,351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
5013,NaN,NaN,2021,NaN,968.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
5014,NaN,NaN,2021,NaN,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
5015,NaN,NaN,2021,NaN,537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
5016,NaN,NaN,2021,NaN,487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only

,country,iso3code,year,happy_score,weocode,numcode,iso2code,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
0,Afghanistan,AFG,2006,3.723590,512.0,4.0,AF,18.945911,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292,both
1,Afghanistan,AFG,2007,4.401778,512.0,4.0,AF,18.985790,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251,both
2,Afghanistan,AFG,2008,4.758381,512.0,4.0,AF,17.035778,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096,both
3,Afghanistan,AFG,2009,3.831719,512.0,4.0,AF,19.390545,-1.375495,-2.711421,-1.511002,-1.664508,-1.876119,-1.552299,both
4,Afghanistan,AFG,2010,3.782938,512.0,4.0,AF,21.722488,-1.404467,-2.579152,-1.480806,-1.516528,-1.870058,-1.645391,both

In [ ]:
unique_values = mergedhappy['_merge'].unique() #investigating merge

unique_values

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [ ]:
unique_values = mergedhappy['country'].unique() # examining countries to see if names of countries are different

unique_values

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'Somaliland region', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe', 'Antigua and Barbuda', 'Aruba',
       'Bahamas, The', 'Barbados', 'Brunei Darussalam', 'Cape Verde',
       'Congo, Rep.', "Côte d'Ivoire", 'Czech Republic', 'Dominica',
       'Egypt, Arab Rep.', 'Equatorial Guinea', 'Eritrea', 'Fiji',
       'Gambia, The', 'Grenada', 'Guinea-Bissau', 'Hong Kong SAR, China',
       'Iran, Islamic Rep.', 'Kiribati', 'Korea, Rep.', 'Kyrgyz Republic',
       'Lao PDR', 'Macao SAR, China', 'Marshall Islands',
       'Micronesia, Fed. Sts.', 'Nauru', 'Palau', 'Papua New Guinea',
       'Puerto Rico', 'Russian Federation', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Samoa',
       'San Marino', 'São Tomé and Principe', 'Seychelles',
       'Slovak Republic', 'Solomon Islands', 'Syrian Arab Republic',
       'Taiwan, China', 'Tonga', 'Türkiye', 'Tuvalu', 'Vanuatu',
       'Venezuela, RB', 'Yemen, Rep.', nan], dtype=object)

In [ ]:
# Correction of Names of Countries by Replacing

mergedhappy = mergedhappy.replace({'country' : { "Côte d'Ivoire": "Cote d'Ivoire", 'Czechia':'Czech Republic', 'Egypt, Arab Rep.': 'Egypt',
                                  'Bahamas, The': 'Bahamas', 'Brunei Darussalam': 'Brunei','Gambia, The': 'Gambia',
                                 'Iran, Islamic Rep.': 'Iran','Korea, Rep.':'South Korea', 'Kyrgyz Republic': 'Kyrgyzstan',
                                   'Lao PDR': 'Laos', 'Russian Federation': 'Russia', 'Slovak Republic':'Slovakia',
                                    'Syrian Arab Republic':'Syria','Taiwan, China': 'Taiwan', 'Türkiye':'Turkey', 'Venezuela, RB': 'Venezuela', 'Yemen, Rep.': 'Yemen' }})

mergedhappy = mergedhappy.drop(mergedhappy.index[mergedhappy['country'].isin(['Hong Kong SAR, China', 'Macao SAR, China', 'Puerto Rico'])]) #dropping names that are not countries

#mergedhappy = mergedhappy.dropna(subset=['country'], inplace=True)
mergedhappy =  mergedhappy[ mergedhappy.country.notnull()] # The missing values of countires were dropped.

mergedhappy.head()

,country,iso3code,year,happy_score,weocode,numcode,iso2code,totrevgdp,voacest,polstabest,goveffest,quaregest,ruloflawest,corcontest,_merge
0,Afghanistan,AFG,2006,3.723590,512.0,4.0,AF,18.945911,-1.110294,-2.219135,-1.465511,-1.689469,-1.879005,-1.446292,both
1,Afghanistan,AFG,2007,4.401778,512.0,4.0,AF,18.985790,-1.057654,-2.413373,-1.443468,-1.708872,-1.852560,-1.613251,both
2,Afghanistan,AFG,2008,4.758381,512.0,4.0,AF,17.035778,-1.168902,-2.691361,-1.533435,-1.607167,-1.903308,-1.672096,both
3,Afghanistan,AFG,2009,3.831719,512.0,4.0,AF,19.390545,-1.375495,-2.711421,-1.511002,-1.664508,-1.876119,-1.552299,both
4,Afghanistan,AFG,2010,3.782938,512.0,4.0,AF,21.722488,-1.404467,-2.579152,-1.480806,-1.516528,-1.870058,-1.645391,both

In [ ]:
unique_values1 = mergedhappy['country'].unique() # reinvestigating countries to see of the name of a same country varies

unique_values1

In [ ]:
mergedhappy.columns

Index(['country', 'iso3code', 'year', 'happy_score', 'weocode', 'numcode',
       'iso2code', 'totrevgdp', 'voacest', 'polstabest', 'goveffest',
       'quaregest', 'ruloflawest', 'corcontest', '_merge'],
      dtype='object')